In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('combinado.csv')
df.head()  # muestra las primeras filas del DataFrame

,CODIGO,DISTRITO,DEPARTAMENTO,MUNICIPIO,ESTABLECIMIENTO,DIRECCION,TELEFONO,SUPERVISOR,DIRECTOR,NIVEL,SECTOR,AREA,STATUS,MODALIDAD,JORNADA,PLAN,DEPARTAMENTAL
0,16-01-0138-46,16-031,ALTA VERAPAZ,COBAN,COLEGIO COBAN,KM.2 SALIDA A SAN JUAN CHAMELCO ZONA 8,77945104,MERCEDES JOSEFINA TORRES GALVEZ,JULIO CESAR VILLELA AMADO,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ
1,16-01-0139-46,16-031,ALTA VERAPAZ,COBAN,COLEGIO PARTICULAR MIXTO VERAPAZ,KM 209.5 ENTRADA A LA CIUDAD,77367402,MERCEDES JOSEFINA TORRES GALVEZ,---,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ
2,16-01-0140-46,16-031,ALTA VERAPAZ,COBAN,"COLEGIO ""LA INMACULADA""",7A. AVENIDA 11-109 ZONA 6,78232301,MERCEDES JOSEFINA TORRES GALVEZ,VIRGINA SOLANO SERRANO,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ
3,16-01-0141-46,16-005,ALTA VERAPAZ,COBAN,ESCUELA NACIONAL DE CIENCIAS COMERCIALES,2A CALLE 11-10 ZONA 2,79514215,RUDY ADOLFO TOT OCH,NaN,DIVERSIFICADO,OFICIAL,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ
4,16-01-0142-46,16-005,ALTA VERAPAZ,COBAN,INSTITUTO NORMAL MIXTO DEL NORTE 'EMILIO ROSAL...,3A AVE 6-23 ZONA 11,79521468,RUDY ADOLFO TOT OCH,NaN,DIVERSIFICADO,OFICIAL,URBANA,ABIERTA,BILINGUE,VESPERTINA,DIARIO(REGULAR),ALTA VERAPAZ

In [5]:
df.describe()  # proporciona estadísticas descriptivas para las columnas numéricas

,CODIGO,DISTRITO,DEPARTAMENTO,MUNICIPIO,ESTABLECIMIENTO,DIRECCION,TELEFONO,SUPERVISOR,DIRECTOR,NIVEL,SECTOR,AREA,STATUS,MODALIDAD,JORNADA,PLAN,DEPARTAMENTAL
count,9621,9397,9621,9621,9621,9576,9055,9396,8233,9621,9621,9621,9621,9621,9621,9621,9621
unique,8425,603,20,304,4821,5452,4875,576,4433,1,4,3,4,2,6,13,22
top,18-01-2733-46,18-008,CIUDAD CAPITAL,ZONA 1,INSTITUTO NACIONAL DE EDUCACION DIVERSIFICADA,CABECERA MUNICIPAL,79480009,ELENA ELIZABETH SUCHITE GARNICA DE QUINTANILLA,---,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,DOBLE,DIARIO(REGULAR),IZABAL
freq,3,384,1536,628,356,252,42,384,204,9621,8274,7738,6877,9379,3239,5866,1080

In [6]:

df.info()  # muestra información sobre el DataFrame, incluyendo los tipos de datos y la cantidad de valores no nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9621 entries, 0 to 9620
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CODIGO           9621 non-null   object
 1   DISTRITO         9397 non-null   object
 2   DEPARTAMENTO     9621 non-null   object
 3   MUNICIPIO        9621 non-null   object
 4   ESTABLECIMIENTO  9621 non-null   object
 5   DIRECCION        9576 non-null   object
 6   TELEFONO         9055 non-null   object
 7   SUPERVISOR       9396 non-null   object
 8   DIRECTOR         8233 non-null   object
 9   NIVEL            9621 non-null   object
 10  SECTOR           9621 non-null   object
 11  AREA             9621 non-null   object
 12  STATUS           9621 non-null   object
 13  MODALIDAD        9621 non-null   object
 14  JORNADA          9621 non-null   object
 15  PLAN             9621 non-null   object
 16  DEPARTAMENTAL    9621 non-null   object
dtypes: object(17)
memory usage: 1.2+ MB

#### Describa el estado de los datos y las operaciones de limpieza que considera que hará

La mayoria de los datos estan completos. En algunas columnas no hay datos o hay simbolos que no estan en UTF-8 lo cual tendremos que arreglar para hacer una buena lectura de los datos. No consideramos necesario borrar ninguna fila por ahora pero si hay columnas que consideramos que no se necesitaran (Direccion, telefono, director, etc.)